<html lang="en">
    <!-- head here -->
    <%- include('./partials/head') %>
<body>
    <!-- nav here -->
  <%- include('./partials/nav') %>

  <div class="chefs">
      <div class="chef-container">
        <div class="chef">
            <img src="./images/Chef.jpg" alt="">  
          </div>
        <% if (signUps.length > 0) { %>
            <% signUps.forEach(post => { %>
                  
                <div class="chef-card"> 
                    <a href="/get/<%= post._id %> "> 
            <img class="card-img" src="/upload/profileImage<%= post.profileImage %> " alt="pic">
          </a>
          </div>
          <h2><%= post.name %> </h2>
          <p><%= post.address %> </p>
          <p><%= post.email %> </p>
          
            <% }) %>
            <% }  else { %>  
                <p><%= "No posts to display currently" %> </p>
          
                <% } %>  %>
          
      </div>
  </div>

  

  <!-- footer here -->
  <%- include('./partials/footer') %>