<html lang="en">
    <!-- head here -->
    <%- include('./partials/head') %>
<body>
    <!-- nav here -->
  <%- include('./partials/nav') %>

  <div class="detail-background">
    <div class="detail-container">
        <div class="card">
               <h1><%= recipeData.dish_name %> </h1>
               <p><%= recipeData.category %> </p>
               <div class="ready">
                   <div class="container">
                       <img src="./images/Chef.jpg" alt="">
                   </div>
               </div>
               <div class="content">
                   <h2>INGREDIENTS</h2>
                   <p><%= recipeData.ingredients  %> </p>
                   <h3>RECIPE</h3>
                   <p><%= recipeData.recipe %> </p>
                   
               </div>
        </div>
    </div>
   
  
  
    <div class="review">
      <form class="review-form" action="/review" method="post">
  
          <h3>REVIEW RECIPE</h3>
          <textarea name="name" placeholder="Name" id="" cols="30" rows="2"></textarea>
          <h3>Comment</h3>
          <textarea name="comment" placeholder="how do you find this recipe?" id="" cols="30" rows="10"></textarea>
          <h3>Rate us</h3>
          <div class="rate-recipe">
              <input id="star" type="radio" class="fa fa star" name="rating" value="1"></input> 
              <input id="star" type="radio" class="fa fa star" name="rating" value="2"></input> 
              <input id="star" type="radio" class="fa fa star" name="rating" value="3"></input> 
              <input id="star" type="radio" class="fa fa star" name="rating" value="4"></input> 
              <input id="star" type="radio" class="fa fa star" name="rating" value="5"></input> 
          </div>
          <button type="submit" value="Submit">Submit</button>
         
      </form> 
    </div>

   

    
  
  </div>

  
   
  <!-- footer here -->
  <%- include('./partials/footer') %> 
