<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
<body>

    <!-- header -->
    <%- include('./partials/nav') %>

    <header>
       

        
            <!-- sub nav buttons -->
            <!-- <div class="sub-nav">
                <button class="sign-up"> <i>SIGN UP</i> </br> </button> 
                <button class="sign-in"> <i>SIGN IN</i> </br> </button>
            </div> -->
    
        <div class="welcome-text">
            <h1>Hungry!!!</h1>
            <h2>Checkout amazing recipes</h2>
        </div>





            <!-- Cards -->
        <section class="add">
            <div>
                <button><a href="/form">Add Recipe</a></button>
            </div>
        </section>

        <section class="top">
            <h3 class="top-heading">TOP RECIPES</h3>
            <div class="cards">

                


                <% if (recipe.length > 0) { %>
        <% recipe.forEach(post => { %>
                
            <div class="card"> 
                <a href="/get/<%= post._id %> "> 
        <img class="cards-img" src="/upload/image<%= post.image %> " alt="pic">

        <div class="textss">
            <h2><%= post.name %> </h2>
            <p><%= post.dish_name %> </p>
        </div>
       
        </a>
        </div>

        <% }) %>
        <% }  else { %>  
            <p><%= "No posts to display currently" %> </p>

            <% } %>  %>

        </div>
        </section>



    </header>              


<!-- footer -->
<%- include('./partials/footer') %>

<!-- <script src='../homepage.js'></script> -->
    
</body>
</html>